{% extends "base.html" %} 
{% block titulo %} Comentar {% endblock %}
{% block contenido %}
<div class="card">
<div class="card-header">
    Comentar un libro
</div>
<div class="card-body">
    <h4 class="card-title">Datos de libro</h4>

        
            <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrfmiddlewaretoken" value="3o8Lpuau67TRpl9ryy9nbvwG5ycfw2CYZDJ9wZZILNWCl67n9RkD1ciZWEfAIcG8">
        
        <input type="hidden" class="hidden" name="ID" id="" aria-describedby="helpId" placeholder="ID" value="{{coment}}">
            <div class="col-12 help-text"> 
            </div>
        
            <div class="mb-3">
                <label for="" class="form-label">Comentario: </label>
                <input type="" class="form-control" name="Comentario" id="" aria-describedby="helpId" placeholder="Comentario">
            </div>
            <div class="col-12 help-text"> 
            </div>
        
        <input href="{%url 'libros'%}" name="" id="" class="btn btn-success" type="submit" value="Enviar Información">
    </form>
    </div>
    
    </div>
    
        </div>
    
</div>

</div>
{% endblock %}