<!DOCTYPE html>
<html lang="es">
{%extends "base.html"%} 
{%block titulo%} Libros {%endblock%}
{%block contenido%}
<div >
<nav class="navbar navbar-expand-sm navbar-light bg-light">
                
    <a class="dropdown-item" href="{%url 'crear'%}">Crear</a>
            </ul>
        </div>
  </div>
</nav>
</div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
</head>
<body>
    <header>
    </header>
</div>
<tbody>
<div class="table-responsive">
    <thead>
        <tbody>
            <div class="col-md-12">
            <table class="table">
                <tr class="table-primary">
                    <td>ID</td>
                    <td>Titulo</td>
                    <td>Imagen</td>
                    <td>Descripcion</td>
                    <td>Promo</td>
                    <td>Acciones</td>
                    {% for libro in libros %}
                        <tr class="table-secondary">
                            <td scope="row">{{libro.ID}}</td>
                            <td>{{libro.Titulo}}</td>
                            <td><img src="{{libro.Imagen.url}}" height="100" /></td>
                            <td>{{libro.Descripcion}}</td>
                            <td>{{libro.Promo}}</td>
                            <td>
                                <a name="" id="" class="btn btn-info" href="{% url 'editar' libro.ID %}" role="button">Editar </a>
                                <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' libro.ID %}" role="button">Borrar</a>
                                <a name="" id="" class="btn btn-light" href="{% url 'comentar' libro.ID %}" role="button">Comentar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tr>
            </table>
            </div>
        </tbody>
    </thead>
</div>
</tbody>    
    <footer>
    </footer>
</body>
</html>
{%endblock%}
