<!DOCTYPE html>
<html lang="es">
{%extends "base.html"%} 
{%block titulo%} Libros {%endblock%}
{%block contenido%}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Inicio</h1>
      <div><iframe style="width:320px;height:260px;border-radius:10px;box-shadow:2px 4px 4px rgb(0 0 0 / 25%);display:flex;justify-content:center;border:1px solid #bcbcbc" src="https://dolarhoy.com/i/cotizaciones/dolar-blue" frameborder="0"></iframe></div>
      <p class="col-md-8 fs-4">Bienvenido a nuestra página de inicio</p>
      <a name="" id="" class="btn btn-primary" href="{%url 'libros'%}" role="button">Libros</a>
    </div>
</div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
     </header>
    
    <main>
    </main>
    
    <footer>
    </footer>   <header>
<h1>Promos</h1>
<div class="table-responsive">
    <thead>
        <tbody>
            <div class="col-md-12">
            <table class="table">
                <tr class="table-primary">
                    <td>ID</td>
                    <td>Titulo</td>
                    <td>Imagen</td>
                    <td>Descripcion</td>
                    {% for libro in libros %}
                        <tr class="table-secondary">
                            <td scope="row">{{libro.ID}}</td>
                            <td>{{libro.Titulo}}</td>
                            <td><img src="{{libro.Imagen.url}}" height="100" /></td>
                            <td>{{libro.Descripcion}}</td>
                        </tr>
                    {% endfor %}
                </tr>
            </table>
            </div>
        </tbody>
    </thead>
</div>
</tbody>

</body>
</html>
{%endblock%}
